/* Icon styles */
.cart-icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
}

.header-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 1rem;
}